body {
    background-color: #777B81;
}

.imagen {
    height: 165.19px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.imagen-input {
    height: 300px;
    width: 300px;
}

.file-path {
    display: none;
}